@font-face {
    font-family: 'Pusab';
    src: url('/assets/pusab.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('/assets/helvetica.otf');
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

body {
    background: rgb(180,69,21);
	background-image: linear-gradient(133deg, rgba(180,69,21,1) 0%, rgba(48,15,104,1) 100%);
    flex-direction: column;
	 display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="url"], input[type="number"], textarea {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 5px;
        margin-bottom: 5px;
        
        box-sizing: border-box;
    }

button {
    border-radius: 5px;
    background-color: rgb(215, 82, 25);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(181, 69, 20, 1);
}

.background {
	width: 200%;
    height: 200%;
    position: absolute;
    z-index: -1;
    background-image: url(/assets/TWS_Cubes.png);
    opacity: 0.2;
    background-size: 15%;
    transform: rotate(15deg);
	animation-name: background;
    animation-duration: 250000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes background {
    0% {
        background-position-y: 0%;
    }
    100% {
        background-position-y: -1000000vh;
    }
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.bg-filler {
	background-image: linear-gradient(180deg, rgba(246, 224, 0, 1) 50%, rgba(202, 145, 0, 1) 100%);
}

.bg-filler h1 {
	font-size: 40px;
	-webkit-text-stroke: 1.5px black;
	font-weight: 100;
	text-shadow: 3px 2.5px #0000005c;
	margin: 10px;
}

.bg-filler .description {
	background: #db8304;
    margin: 0px 10px;
    color: white;
    font-family: 'Helvetica', sans-serif;
    word-break: break-word;
    height: calc(100% - 94px);
    border-radius: 0px;
    padding: 10px 15px;
    box-shadow: 0 0 0 5px #000000, 0 0 0 6px #866d00;
    overflow: scroll;
}

.bg-filler .description p {
	margin: 0px;
	font-size: 20px;
}